.container {
  width: 100%;
  height: 100%;
  display: table;
}

.container .row {
  display: table-row;
}

.container .cell {
  display: table-cell;
}

.top .cell {
  vertical-align: top;
}

.middle .cell {
  max-width: 90%;
  display: flex;
}

.base .cell {
  vertical-align: bottom;
}

